.createPost {
  margin: 0 auto 0;
  padding: 16px 40px;
  border-radius: 20px;
  position: relative;
  background: $color-4;
  width: 90%;

  .pseudo{
    padding: 10px;
  }

  .post-form {
    position: relative;
    margin: 0 auto 0;
      textarea {
        height: 62px;
        width: 100%;
        font-size: 1.4rem;
        padding: 12px 15px;
        border-radius: 20px;
      }
      .img-upload{
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 20px;
        img {
          position: absolute;
          height: 24px;
          width: 24px;
          transform: translate(-18px, -1px);
        }
        input {
          width: 25px;
          height: 25px;
          position: absolute;
          transform: translate(-16px, -3px);
          opacity: 0;
          cursor: pointer;

          &::-webkit-file-upload-button {
            cursor: pointer;
          }
        }
      }
  }
}
