.post-container {
  display: flex;
  flex-direction: column;
  border: 2px solid $color-2;
  margin: 10px;
  padding: 16px;
  border-radius: 20px;
  margin: 8px auto;
  position: relative;
  min-height: 100px;
  width: 80%;

    .post-header {
      display: flex;
      justify-content: space-between;
      margin: 2px 0 4px;
      min-height: 35px;

      @media screen and(max-width: 590px) {
      }

      @media screen and(max-width: 440px) {
        flex-direction: column;
        min-height: 75px;
      }
 
      span {
        font-style: italic;
        font-family: $font-1;

        @media screen and(max-width: 440px) {
          transform: translate(52px, -20px);
        }
      }
    }

    p {
      text-align: start;
      margin: 3px 0 9px;
      font-size: 1.1rem;

      @media screen and(max-width: 440px) {
        margin-top: -18px;
      }
    }
    .post-img{
      object-fit: contain;
      width: 100%;
      max-height: 300px;
      display: block;
      margin: auto;
    }

    .update-post {
      textarea {
        font-size: 1.3rem;
        border: 1px solid $color-2;
        padding: 10px;
        border-radius: 20px 20px 6px 20px;
      }
      .button-container {
        .btn {
          background: $color-2;
          width: 240px;
          transform: translateY(-3px);

          &:hover {
            background: $color-1;
            width: 250px;
            letter-spacing: 0.5px;
          }
        }
      }
    }
    .button-container {
      justify-content: flex-end;
      display: flex;

      div {
        padding: 5px 9px;
        margin-left: 5px;
        background: $color-2;
        border-radius: 50px;
        transition: 0.1s;
        cursor: pointer;

        &:hover {
          transform: scale(1.07);
        }

        img {
          height: 16px;
          width: 16px;
          transform: translateY(3px);
        }
      }
    }
  
    .like-container {
      img {
        cursor: pointer;
      }
      
      span {
        font-size: 1.02rem;
        position: absolute;
        transform: translate(8px, -1px);
      }
    }
  }
  .update-post {
    textarea {
      width: 100% !important;
      height: 80px;
    }
    .button-container {
      text-align: right;

      button {
        margin: 0;
        margin-left: 5px;
        width: 150px;

        &:nth-child(1) {
          background: $color-1;
        }
      }
    }
}
